<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/site.css" />
    <title>Salary Calculator</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a></li>
                    <li><a asp-controller="NetSalaryCalculator" asp-action="Index" class="navbar-brand">Calculator</a></li>
                    @*<li><a asp-controller="GrossSalaryCalculator" asp-action="Index" class="navbar-brand">Calculator salariu brut</a></li>*@
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
